table, td, th {
  border: 1px solid;
  border-collapse: collapse;
  user-select: none;
}

td, th {
  padding: 7px;
}

.centered {
  text-align: center;
}

.selectable {
  text-align: center;
  cursor: pointer;
}

.selectable:hover {
  background-color: #595959;
}
